* {
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

img {
  display: block;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.menu {
  display: flex;
}
